In [3]:
import pandas as pd

In [ ]:
import jupyternotify
ip = get_ipython()
ip.register_magics(jupyternotify.JupyterNotifyMagics)

In [4]:
#claim files for merging
claims1 = pd.read_csv('../../DE1_0_2008_to_2010_Carrier_Claims_Sample_2A.csv')

/Users/ksenia/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (9,10,11,46,47,48,49,50,136,137,138,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
claims2 = pd.read_csv('../../DE1_0_2008_to_2010_Carrier_Claims_Sample_2B.csv')

/Users/ksenia/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8,9,10,11,45,46,47,48,49,50,135,136,137,138,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
#Merging two claims files
claims = pd.concat([claims1, claims2])

In [158]:
claims2.iloc[:, 51:64]

,LINE_NCH_PMT_AMT_1,LINE_NCH_PMT_AMT_2,LINE_NCH_PMT_AMT_3,LINE_NCH_PMT_AMT_4,LINE_NCH_PMT_AMT_5,LINE_NCH_PMT_AMT_6,LINE_NCH_PMT_AMT_7,LINE_NCH_PMT_AMT_8,LINE_NCH_PMT_AMT_9,LINE_NCH_PMT_AMT_10,LINE_NCH_PMT_AMT_11,LINE_NCH_PMT_AMT_12,LINE_NCH_PMT_AMT_13
0,90.0,60.0,50.0,30.0,140.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,50.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,300.0,60.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,50.0,50.0,50.0,10.0,0.0,10.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
5,50.0,30.0,70.0,50.0,50.0,50.0,50.0,70.0,60.0,50.0,50.0,50.0,50.0
6,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,180.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,170.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,20.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,130.0,280.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,80.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,50.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,130.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,30.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,50.0,0.0,20.0,40.0,50.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,210.0,20.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2372927,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372928,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372929,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372930,0.0,230.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372932,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372933,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372934,80.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372935,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372936,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372937,20.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372938,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372939,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372940,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372941,110.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372942,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372943,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372944,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372945,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372946,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372947,70.0,0.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372948,10.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372949,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372950,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372951,0.0,10.0,10.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372952,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372953,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372954,0.0,0.0,0.0,20.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372955,20.0,10.0,10.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2372956,10.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
#Obtain inpatient claims
inpatient = pd.read_csv('../../DE1_0_2008_to_2010_Inpatient_Claims_Sample_2.csv')

In [9]:
#Obtain outpatient claims data
outpatient = pd.read_csv('../../DE1_0_2008_to_2010_Outpatient_Claims_Sample_2.csv')

/Users/ksenia/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (21,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
#Obtain prescription drug data
pde = pd.read_csv('../../DE1_0_2008_to_2010_Prescription_Drug_Events_Sample_2.csv')

/Users/ksenia/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
#Beneficiary data files for merging
ben8 = pd.read_csv('../../DE1_0_2008_Beneficiary_Summary_File_Sample_2.csv')
ben9 = pd.read_csv('../../DE1_0_2009_Beneficiary_Summary_File_Sample_2.csv')
ben10 = pd.read_csv('../../DE1_0_2010_Beneficiary_Summary_File_Sample_2.csv')

In [12]:
ben_all = pd.concat([ben8, ben9, ben10])

In [18]:
#Select a random sample of patients for further analysis if sample=True

sample = False

if sample is True:
    sample_patient_ids = ben10.DESYNPUF_ID.sample(frac = 0.5)
else:
    sample_patient_ids = ben10.DESYNPUF_ID

In [13]:
ben10.head()

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,BENE_ESRD_IND,SP_STATE_CODE,BENE_COUNTY_CD,BENE_HI_CVRAGE_TOT_MONS,BENE_SMI_CVRAGE_TOT_MONS,...,SP_STRKETIA,MEDREIMB_IP,BENRES_IP,PPPYMT_IP,MEDREIMB_OP,BENRES_OP,PPPYMT_OP,MEDREIMB_CAR,BENRES_CAR,PPPYMT_CAR
0,00000B48BCF4AD29,19230901,NaN,2,5,Y,10,260,12,12,...,2,0.0,0.0,0.0,600.0,30.0,0.0,3800.0,1460.0,0.0
1,0000525AB30E4DEF,19201001,NaN,2,1,0,31,300,12,12,...,2,0.0,0.0,0.0,240.0,190.0,0.0,440.0,60.0,0.0
2,00009C897C3D8372,19320101,NaN,1,1,0,7,70,12,12,...,2,0.0,0.0,0.0,210.0,160.0,0.0,580.0,250.0,0.0
3,0001168CE43BE51B,19340901,NaN,2,1,0,6,200,12,0,...,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0002E494BC87CE10,19140701,NaN,1,2,0,5,200,12,12,...,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
#Write beneficiary features of interest for corresponding patients into a single dataframe for preprocessing

working_df = pd.DataFrame(index = ben10.index)

beneficiary_features = ['DESYNPUF_ID','BENE_SEX_IDENT_CD', 'BENE_RACE_CD', 'BENE_BIRTH_DT', 'SP_STATE_CODE', 
                        'BENE_COUNTY_CD','SP_ALZHDMTA', 'SP_CHF', 'SP_CHRNKIDN', 'SP_CNCR', 'SP_COPD', 'SP_DIABETES', 'SP_DEPRESSN', 
                        'SP_ISCHMCHT', 'SP_OSTEOPRS', 'SP_RA_OA', 'SP_STRKETIA', 'MEDREIMB_OP', 'BENRES_OP', 
                        'PPPYMT_OP', 'BENE_DEATH_DT']

In [20]:
#Select beneficiary data corresponding to the sample size
working_df = ben10[ben10.DESYNPUF_ID.isin(sample_patient_ids)]


#Drop features that are not of interest
for col in working_df:
    print(col)
    if col not in beneficiary_features:
        working_df.drop(col, axis = 1, inplace = True)

DESYNPUF_ID
BENE_BIRTH_DT
BENE_DEATH_DT
BENE_SEX_IDENT_CD
BENE_RACE_CD
BENE_ESRD_IND
SP_STATE_CODE
BENE_COUNTY_CD
BENE_HI_CVRAGE_TOT_MONS
BENE_SMI_CVRAGE_TOT_MONS
BENE_HMO_CVRAGE_TOT_MONS
PLAN_CVRG_MOS_NUM
SP_ALZHDMTA
SP_CHF
SP_CHRNKIDN
SP_CNCR
SP_COPD
SP_DEPRESSN
SP_DIABETES
SP_ISCHMCHT
SP_OSTEOPRS
SP_RA_OA
SP_STRKETIA
MEDREIMB_IP
BENRES_IP
PPPYMT_IP
MEDREIMB_OP
BENRES_OP
PPPYMT_OP
MEDREIMB_CAR
BENRES_CAR
PPPYMT_CAR

In [21]:
#Drop rows and columns where all elements are NULL
working_df = working_df.dropna(axis=1, how='all')
working_df = working_df.dropna(axis=0, how='all')

In [22]:
working_df.describe()

,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,SP_CHRNKIDN,SP_CNCR,SP_COPD,SP_DEPRESSN,SP_DIABETES,SP_ISCHMCHT,SP_OSTEOPRS,SP_RA_OA,SP_STRKETIA,MEDREIMB_OP,BENRES_OP,PPPYMT_OP
count,1.128450e+05,1.818000e+03,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000
mean,1.936439e+07,2.010064e+07,1.557251,1.283708,25.725048,366.079268,1.831929,1.742124,1.861403,1.948212,1.910904,1.821188,1.708760,1.623918,1.868900,1.902849,1.973530,435.842882,131.627985,14.953875
std,1.258994e+05,3.460075e+02,0.496714,0.753121,15.519775,266.004435,0.373931,0.437467,0.345527,0.221599,0.284883,0.383196,0.454336,0.484403,0.337511,0.296165,0.160529,1280.079036,367.158699,274.898947
min,1.909010e+07,2.010010e+07,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-80.000000,0.000000,0.000000
25%,1.928110e+07,2.010030e+07,1.000000,1.000000,11.000000,141.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000
50%,1.936060e+07,2.010060e+07,2.000000,1.000000,25.000000,330.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000
75%,1.942030e+07,2.010090e+07,2.000000,1.000000,39.000000,551.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,320.000000,100.000000,0.000000
max,1.983120e+07,2.010120e+07,2.000000,5.000000,54.000000,999.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,34440.000000,9670.000000,14000.000000

In [23]:
#Create a variable indicating if a patient has passed away
working_df['DEATH'] = working_df.BENE_DEATH_DT.apply(lambda x: 1 if pd.notnull(x) else 0)

In [24]:
#Add hospitalization date to the working dataframe
working_df = pd.merge(working_df, inpatient[['DESYNPUF_ID','CLM_ADMSN_DT']], how='left', on='DESYNPUF_ID')

In [25]:
#target_date - start date of forecasting patients hospitalization 
target_date = 20100101

In [26]:
#Create target variable Y showing 1 if patient has been hospitalized in the target dataframe
working_df['Y'] = working_df.CLM_ADMSN_DT.apply(lambda x: 1 if x >= target_date else 0)

In [27]:
#If hospitalized, first admission date in the target dataframe
dates = {}
for patient in working_df.DESYNPUF_ID[working_df.Y==1]:
    hosp_dates = working_df[working_df.DESYNPUF_ID==patient].CLM_ADMSN_DT
    min_date_2010 = min(hosp_dates[hosp_dates>=20100101])
    dates[patient] = min_date_2010

In [28]:
df_dates = pd.DataFrame(dates, index = dates.keys())

In [29]:
working_df['fst_admsn_dt'] = working_df['DESYNPUF_ID'].map(dates)

In [30]:
working_df.head()

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,SP_CHRNKIDN,...,SP_OSTEOPRS,SP_RA_OA,SP_STRKETIA,MEDREIMB_OP,BENRES_OP,PPPYMT_OP,DEATH,CLM_ADMSN_DT,Y,fst_admsn_dt
0,00000B48BCF4AD29,19230901,NaN,2,5,10,260,2,1,2,...,2,2,2,600.0,30.0,0.0,0,20080707.0,0,NaN
1,00000B48BCF4AD29,19230901,NaN,2,5,10,260,2,1,2,...,2,2,2,600.0,30.0,0.0,0,20080724.0,0,NaN
2,00000B48BCF4AD29,19230901,NaN,2,5,10,260,2,1,2,...,2,2,2,600.0,30.0,0.0,0,20080805.0,0,NaN
3,0000525AB30E4DEF,19201001,NaN,2,1,31,300,2,2,2,...,2,2,2,240.0,190.0,0.0,0,20080525.0,0,NaN
4,0000525AB30E4DEF,19201001,NaN,2,1,31,300,2,2,2,...,2,2,2,240.0,190.0,0.0,0,20080918.0,0,NaN

In [48]:
import datetime
from datetime import date
import dateutil
from datetime import datetime
from dateutil import parser
import numpy as np

def clean_df(df):
    
    '''Takes as input a DataFrame, creates a dummy variable for the death date (0 if still alive, 1 if not).
    Calculates the column TRUE_AGE, according to the death date if the dummy variable indicating death is 1, 
    or according to today's date if the dummy variable is 0. Recodes the column BENE_SEX_IDENT_CD (Sex) as 
    1: Female, 0: Male. '''
    
    days_a_year = 365.24
    
    ## Filling the missing values with 0, as explained above
    df['BENE_DEATH_DT'] = df['BENE_DEATH_DT'].fillna(0)
    
    ## Creating the column DEATH_DUMMY, 1 if the patient is dead, 0 otherwise
    df['DEATH_DUMMY'] = [int(int(df['BENE_DEATH_DT'][k])>0) for k in range(len(df['BENE_DEATH_DT']))]
    df['BENE_BIRTH_DT'] = [str(j) for j in df['BENE_BIRTH_DT']]
    
    df['BENE_DEATH_DT'] = [str(int("%2.f" % float(j))) for j in df['BENE_DEATH_DT']]
    
    bday_date = [dateutil.parser.parse(date) for date in df['BENE_BIRTH_DT']]
    
    death_date = []
    for d in range(len(df)):
        if df['DEATH_DUMMY'][d] == 0:
            death_date.append(dateutil.parser.parse(str(20100101)))
        elif df['DEATH_DUMMY'][d] == 1:
            death_date.append(dateutil.parser.parse(df['BENE_DEATH_DT'][d]))
    
    df['TRUE_AGE'] = [((death_date[j] - bday_date[j])/days_a_year).days for j in range(len(df['BENE_BIRTH_DT']))]
    
        ## Sex recoded to (0:Male, 1:Female) 
    df['BENE_SEX_IDENT_CD'] = [int(df['BENE_SEX_IDENT_CD'][i] == 2) for i in range(len(df['BENE_SEX_IDENT_CD']))]
    
    return df

In [49]:
clean_df = clean_df(working_df)

In [50]:
clean_df['first_ad_date']=clean_df.fst_admsn_dt.astype(str).apply(lambda x: pd.to_datetime(x, format='%Y%m%d'))

In [56]:
clean_df[clean_df.Y==1].head(20)

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,SP_CHRNKIDN,...,MEDREIMB_OP,BENRES_OP,PPPYMT_OP,DEATH,CLM_ADMSN_DT,Y,fst_admsn_dt,DEATH_DUMMY,TRUE_AGE,first_ad_date
22,0008148FCB4CB644,19420601,0,0,3,14,141,2,1,1,...,17990.0,6770.0,0.0,0,20100113.0,1,20100113.0,0,67,2010-01-13
27,000B6900337D45AF,19490601,0,0,1,34,500,2,2,2,...,0.0,0.0,0.0,0,20100831.0,1,20100831.0,0,60,2010-08-31
32,000C5BACF2F88B1E,19420201,0,0,1,42,270,1,2,2,...,290.0,220.0,0.0,0,20100927.0,1,20100927.0,0,67,2010-09-27
44,001539F8694D461D,19390201,0,0,1,33,590,1,1,1,...,880.0,0.0,0.0,0,20100730.0,1,20100730.0,0,70,2010-07-30
46,001634033AEA61D0,19380901,0,0,1,10,150,1,2,2,...,0.0,0.0,0.0,0,20100126.0,1,20100126.0,0,71,2010-01-26
61,001D171C944A6B21,19310701,0,0,1,33,740,1,2,2,...,460.0,130.0,0.0,0,20100405.0,1,20100405.0,0,78,2010-04-05
64,001DF507320A1E03,19380601,0,0,1,23,100,2,1,1,...,160.0,0.0,0.0,0,20100104.0,1,20100104.0,0,71,2010-01-04
75,00243BA69DDA5C3B,19190501,0,0,1,43,510,2,1,2,...,0.0,0.0,0.0,0,20101028.0,1,20101028.0,0,90,2010-10-28
86,00282D0633D4EA98,19400201,0,0,1,49,411,1,1,1,...,0.0,0.0,0.0,0,20100819.0,1,20100819.0,0,69,2010-08-19
91,002A366C3758A68E,19420901,0,0,1,42,270,2,2,2,...,2700.0,40.0,0.0,0,20100718.0,1,20100718.0,0,67,2010-07-18
97,002B853135024113,19240201,0,0,1,33,40,1,2,1,...,10.0,0.0,0.0,0,20101016.0,1,20101016.0,0,85,2010-10-16
133,003BD572DFC816A0,19620501,0,0,3,31,220,1,1,2,...,2040.0,710.0,0.0,0,20100302.0,1,20100302.0,0,47,2010-03-02
146,00433810CA4E6998,19530201,0,0,1,36,780,1,1,2,...,0.0,0.0,0.0,0,20100907.0,1,20100907.0,0,56,2010-09-07
164,004BD87E3AC77571,19420101,0,0,1,51,50,2,1,1,...,740.0,160.0,0.0,0,20100225.0,1,20100225.0,0,68,2010-02-25
182,005498611629217F,19290401,0,0,1,13,270,2,1,1,...,280.0,90.0,0.0,0,20100727.0,1,20100727.0,0,80,2010-07-27
191,0059BCBB78C16264,19410101,0,0,1,28,440,2,2,2,...,0.0,0.0,0.0,0,20100328.0,1,20100328.0,0,69,2010-03-28
198,005C160E5A77312C,19290801,0,0,1,18,180,2,1,2,...,890.0,240.0,0.0,0,20100801.0,1,20100801.0,0,80,2010-08-01
206,005EE72D3EF415B8,19250901,0,0,1,23,180,1,1,2,...,1500.0,400.0,0.0,0,20100703.0,1,20100703.0,0,84,2010-07-03
207,005EE72D3EF415B8,19250901,0,0,1,23,180,1,1,2,...,1500.0,400.0,0.0,0,20101113.0,1,20100703.0,0,84,2010-07-03
214,0063A81536884AE1,19430601,0,0,1,42,390,2,2,2,...,0.0,0.0,0.0,0,20100109.0,1,20100109.0,0,66,2010-01-09

In [78]:
clean_df.first_ad_date.fillna(datetime.date(3000,1,1), inplace = True)

In [97]:
clean_df['end_train_dt']=clean_df.first_ad_date.apply(lambda x: add_months(x,-6))

In [256]:
clean_df.CLM_ADMSN_DT.fillna(datetime.date(3000,1,1), inplace = True)

In [95]:
clean_df['start_train_dt']=datetime.date(2008,1,1)

In [368]:
def diff_month(d1, d2):
    return(d1.year - d2.year) * 12 + d1.month - d2.month

import math

date1 = datetime.date(2009, 7, 13)
date2 = datetime.date(2008, 1, 1)
date2

def month_difference(date1, date2):
    
    '''Takes as input two dates, takes their timedelta, if it is exactly x.5 months returns x.5 months,
    if it is between x and x.5 months returns x months, and if it is between x.5 months and ceiling(x),
    returns ceiling(x)'''
    
    date_diff_days = (date1 - date2).days ## timedelta.days, it doesn't have months or years methods unfortunately
    date_diff_months = (date_diff_days/30.4)
    
    if math.ceil(date_diff_months) - date_diff_months > 0.5:
        return math.trunc(date_diff_months)
    elif math.ceil(date_diff_months) - date_diff_months <= 0.5:
        return math.ceil(date_diff_months)
    else:
        return (math.trunc(date_diff_months) + 0.5) 
        

month_difference(date1, date2)

clean_df['member_months'] = [month_difference(clean_df['end_train_dt'][i], clean_df['start_train_dt'][i]) for i in range(len(clean_df))]

clean_df[clean_df.Y==1].head()

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,SP_CHRNKIDN,...,DEATH_DUMMY,TRUE_AGE,first_ad_date,end_training_dt,start_train_dt,end_train_dt,member_month,prev_hosp_dt_x,prev_hosp_dt_y,member_months
22,0008148FCB4CB644,19420601,0,0,3,14,141,2,1,1,...,0,67,2010-01-13 00:00:00,2009-07-13,2008-01-01,2009-07-13,19,2009-12-11,NaT,18
27,000B6900337D45AF,19490601,0,0,1,34,500,2,2,2,...,0,60,2010-08-31 00:00:00,2010-02-28,2008-01-01,2010-02-28,26,NaT,NaT,26
32,000C5BACF2F88B1E,19420201,0,0,1,42,270,1,2,2,...,0,67,2010-09-27 00:00:00,2010-03-27,2008-01-01,2010-03-27,27,2009-12-12,2009-12-12,27
44,001539F8694D461D,19390201,0,0,1,33,590,1,1,1,...,0,70,2010-07-30 00:00:00,2010-01-30,2008-01-01,2010-01-30,25,NaT,NaT,25
46,001634033AEA61D0,19380901,0,0,1,10,150,1,2,2,...,0,71,2010-01-26 00:00:00,2009-07-26,2008-01-01,2009-07-26,19,NaT,NaT,19

In [363]:
#Previous inpatient hospitalization date (last date in the training period)

print(clean_df.shape)
print(inpatient.shape)

N = 100000000
clean_sub = clean_df.iloc[0:min(clean_df.shape[0],N),:]
inpat_sub = inpatient.iloc[0:min(inpatient.shape[0],N),:]

prev_hosp_dt = {}

print('figuring end dates')
dates = clean_sub.end_train_dt.groupby(clean_df.DESYNPUF_ID).max()
print('DONE figuring end dates')

def process_patient_rows(rows):
    global dates, prev_hosp_dt
    if len(prev_hosp_dt) % 1000 == 0:
        print(str(len(prev_hosp_dt)))
    pat_id = rows.DESYNPUF_ID.iloc[0]
    if pat_id not in dates:
        return
    last_training_date = dates[pat_id]

    training_selection = rows.CLM_ADMSN_DT.apply(
        lambda x: (dateutil.parser.parse(str(x))).date() <= last_training_date)
    last_hosp_date = rows.CLM_ADMSN_DT[training_selection].max()
    if not np.isnan(last_hosp_date):
        prev_hosp_dt[pat_id] = last_hosp_date
    
inpat_sub.groupby(inpat_sub.DESYNPUF_ID).apply(lambda rows: process_patient_rows(rows))
"""
for patient in inpat_sub.DESYNPUF_ID.unique():
    
    patient_rows = inpat_sub[inpat_sub.DESYNPUF_ID == patient]
"""
print(len(prev_hosp_dt))

(141363, 33)
(66494, 81)
figuring end dates
DONE figuring end dates
0
1000
1000
1000
1000
2000
2000
3000
4000
5000
6000
7000
8000
9000
9000
10000
10000
11000
11000
12000
12000
13000
14000
15000
16000
17000
18000
19000
20000
20000
21000
21000
22000
23000
24000
24000
24000
24000
24000
25000
25000
26000
27000
28000
28651

In [364]:
#Convert to date type and add to the data frame
prev_hosp = pd.DataFrame(list(prev_hosp_dt.items()), columns = ['DESYNPUF_ID', 'prev_hosp'])
prev_hosp['prev_hosp_dt']=prev_hosp.prev_hosp.astype(str).apply(lambda x: pd.to_datetime(x, format='%Y%m%d'))

In [365]:
#Add hospitalization date to the working dataframe
clean_df = pd.merge(clean_df, prev_hosp[['DESYNPUF_ID','prev_hosp_dt']], how='left', on='DESYNPUF_ID')

In [367]:
clean_df

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,SP_CHRNKIDN,...,fst_admsn_dt,DEATH_DUMMY,TRUE_AGE,first_ad_date,end_training_dt,start_train_dt,end_train_dt,member_month,prev_hosp_dt_x,prev_hosp_dt_y
0,00000B48BCF4AD29,19230901,0,0,5,10,260,2,1,2,...,NaN,0,86,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2008-08-05,2008-08-05
1,00000B48BCF4AD29,19230901,0,0,5,10,260,2,1,2,...,NaN,0,86,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2008-08-05,2008-08-05
2,00000B48BCF4AD29,19230901,0,0,5,10,260,2,1,2,...,NaN,0,86,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2008-08-05,2008-08-05
3,0000525AB30E4DEF,19201001,0,0,1,31,300,2,2,2,...,NaN,0,89,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2008-09-18,2008-09-18
4,0000525AB30E4DEF,19201001,0,0,1,31,300,2,2,2,...,NaN,0,89,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2008-09-18,2008-09-18
5,00009C897C3D8372,19320101,0,0,1,7,70,2,1,2,...,NaN,0,78,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2008-09-21,2008-09-21
6,00009C897C3D8372,19320101,0,0,1,7,70,2,1,2,...,NaN,0,78,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2008-09-21,2008-09-21
7,00009C897C3D8372,19320101,0,0,1,7,70,2,1,2,...,NaN,0,78,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2008-09-21,2008-09-21
8,00009C897C3D8372,19320101,0,0,1,7,70,2,1,2,...,NaN,0,78,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2008-09-21,2008-09-21
9,00009C897C3D8372,19320101,0,0,1,7,70,2,1,2,...,NaN,0,78,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2008-09-21,2008-09-21
10,0001168CE43BE51B,19340901,0,0,1,6,200,2,2,2,...,NaN,0,75,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
11,0002E494BC87CE10,19140701,0,0,2,5,200,2,2,2,...,NaN,0,95,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
12,0002EC0BCA99CACF,19421201,0,0,1,20,60,2,2,2,...,NaN,0,67,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
13,0002FABBFD6D1C5C,19240701,0,0,1,49,921,1,2,2,...,NaN,0,85,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
14,000364233C3E3682,19351201,0,0,1,36,80,1,1,2,...,NaN,0,74,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
15,000433285C8D2349,19270901,0,0,1,5,50,2,1,2,...,NaN,0,82,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2009-05-21,2009-05-21
16,0004B213C9EA58EC,19421101,0,0,1,23,430,2,2,2,...,NaN,0,67,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
17,0005F7B5C901BB68,19401101,0,0,3,36,30,2,2,2,...,NaN,0,69,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
18,00063869E550F9B1,19410701,0,0,1,1,270,2,2,2,...,NaN,0,68,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
19,0007C7A2777AA775,19611201,0,0,1,42,210,2,1,1,...,NaN,0,48,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
20,0007DC6720F658B7,19370201,0,0,1,18,550,2,1,1,...,NaN,0,72,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2009-12-14,2009-12-14
21,0008148FCB4CB644,19420601,0,0,3,14,141,2,1,1,...,20100113.0,0,67,2010-01-13 00:00:00,2009-07-13,2008-01-01,2009-07-13,19,2009-12-11,NaT
22,0008148FCB4CB644,19420601,0,0,3,14,141,2,1,1,...,20100113.0,0,67,2010-01-13 00:00:00,2009-07-13,2008-01-01,2009-07-13,19,2009-12-11,NaT
23,00084CF1B8522AB2,19290501,0,0,1,17,450,2,2,2,...,NaN,0,80,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
24,0009EB553C103F95,19630801,0,0,1,52,500,1,2,2,...,NaN,0,46,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2008-11-05,2008-11-05
25,000A15D4D6F12A3E,19510101,0,0,1,37,480,2,2,2,...,NaN,0,59,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
26,000A49D50DB10546,19430301,0,0,1,10,640,2,2,2,...,NaN,0,66,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
27,000B6900337D45AF,19490601,0,0,1,34,500,2,2,2,...,20100831.0,0,60,2010-08-31 00:00:00,2010-02-28,2008-01-01,2010-02-28,26,NaT,NaT
28,000C28E021CD4C27,19410701,0,0,1,36,480,2,2,2,...,NaN,0,68,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
29,000C3A3E8A09970F,19530901,0,0,1,42,90,2,2,2,...,NaN,0,56,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141333,FFEFEDB0F8B82921,19350901,0,0,2,33,700,1,1,2,...,NaN,0,74,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2009-02-17,2009-02-17
141334,FFEFEDB0F8B82921,19350901,0,0,2,33,700,1,1,2,...,NaN,0,74,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2009-02-17,2009-02-17
141335,FFF0A562C99579F7,19270301,0,0,1,44,320,2,2,2,...,NaN,0,82,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2009-05-07,2009-05-07
141336,FFF0A562C99579F7,19270301,0,0,1,44,320,2,2,2,...,NaN,0,82,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2009-05-07,2009-05-07
141337,FFF149A783256352,19410701,0,0,1,3,60,2,2,2,...,NaN,0,68,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
141338,FFF255CAAD4B6772,19670301,0,0,1,5,530,2,1,2,...,NaN,0,42,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
141339,FFF370284DA20AF9,19421101,0,0,1,49,622,2,2,2,...,NaN,0,67,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
141340,FFF568428BD9D114,19381001,0,0,1,18,550,2,2,2,...,NaN,0,71,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2008-09-19,2008-09-19
141341,FFF568428BD9D114,19381001,0,0,1,18,550,2,2,2,...,NaN,0,71,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2008-09-19,2008-09-19
141342,FFF68608B59727EC,19590201,0,0,2,45,120,2,2,1,...,NaN,0,50,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
141343,FFF712CD0A0012A7,19430501,0,0,1,51,540,2,1,2,...,20100602.0,0,66,2010-06-02 00:00:00,2009-12-02,2008-01-01,2009-12-02,24,NaT,NaT
141344,FFF7E84023DF137B,19270801,0,0,1,36,460,2,2,2,...,NaN,0,82,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
141345,FFF9391DDFDE0751,19450801,0,0,2,7,40,2,2,2,...,NaN,0,64,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
141346,FFF97C9138932083,19391101,20100601,0,1,51,70,2,2,1,...,NaN,1,70,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
141347,FFF9B20E9BD82268,19311101,0,0,1,23,240,2,1,1,...,20100212.0,0,78,2010-02-12 00:00:00,2009-08-12,2008-01-01,2009-08-12,20,2009-10-20,NaT
141348,FFF9B20E9BD82268,19311101,0,0,1,23,240,2,1,1,...,20100212.0,0,78,2010-02-12 00:00:00,2009-08-12,2008-01-01,2009-08-12,20,2009-10-20,NaT
141349,FFF9B20E9BD82268,19311101,0,0,1,23,240,2,1,1,...,20100212.0,0,78,2010-02-12 00:00:00,2009-08-12,2008-01-01,2009-08-12,20,2009-10-20,NaT
141350,FFF9B20E9BD82268,19311101,0,0,1,23,240,2,1,1,...,20100212.0,0,78,2010-02-12 00:00:00,2009-08-12,2008-01-01,2009-08-12,20,2009-10-20,NaT
141351,FFFACCE619556B22,19380201,0,0,1,35,290,2,2,2,...,NaN,0,71,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
141352,FFFBA8A2A68015BA,19260601,0,0,1,34,420,1,2,1,...,NaN,0,83,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
141353,FFFC2F140780137C,19420601,0,0,1,10,360,2,2,2,...,NaN,0,67,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
141354,FFFC54BCEB2A0631,19400801,0,0,1,10,490,2,2,2,...,NaN,0,69,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
141355,FFFCF02B3CE4D724,19100901,0,0,1,34,790,2,2,2,...,NaN,0,99,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2009-05-23,2009-05-23
141356,FFFCF02B3CE4D724,19100901,0,0,1,34,790,2,2,2,...,NaN,0,99,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2009-05-23,2009-05-23
141357,FFFE94CBE61C0479,19360601,0,0,1,4,70,2,2,1,...,NaN,0,73,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2008-07-26,2008-07-26
141358,FFFE94CBE61C0479,19360601,0,0,1,4,70,2,2,1,...,NaN,0,73,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2008-07-26,2008-07-26
141359,FFFE94CBE61C0479,19360601,0,0,1,4,70,2,2,1,...,NaN,0,73,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,2008-07-26,2008-07-26
141360,FFFEAD5472FC13A2,19301201,0,0,1,41,50,2,2,2,...,NaN,0,79,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
141361,FFFF0FD89207928D,19250901,0,0,1,39,290,2,2,2,...,NaN,0,84,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT
141362,FFFF52C0C450A585,19300501,0,0,1,45,801,1,1,2,...,NaN,0,79,3000-01-01,2999-07-01,2008-01-01,2999-07-01,11905,NaT,NaT

In [366]:
#Number of unique IP dates in training period

In [ ]:
#Create variable indicating number of days from previous hospitalization
# last_hosp_date = working_df.DESYNPUF_ID.apply(lambda x: max(working_df.CLM_ADMSN_DT[working_df.DESYNPUF_ID==x]))

In [159]:
#Write pre-selected data into a csv for cleaning and feature selection
working_df.to_csv('preprocessed_data.csv')