In [3]:
import pandas as pd

In [4]:
#claim files for merging
claims1 = pd.read_csv('../../DE1_0_2008_to_2010_Carrier_Claims_Sample_2A.csv')

/Users/ksenia/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (9,10,11,46,47,48,49,50,136,137,138,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
claims2 = pd.read_csv('../../DE1_0_2008_to_2010_Carrier_Claims_Sample_2B.csv')

/Users/ksenia/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8,9,10,11,45,46,47,48,49,50,135,136,137,138,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
#Merging two claims files
claims = pd.concat([claims1, claims2])

In [8]:
#Obtain inpatient claims
inpatient = pd.read_csv('../../DE1_0_2008_to_2010_Inpatient_Claims_Sample_2.csv')

In [9]:
#Obtain outpatient claims data
outpatient = pd.read_csv('../../DE1_0_2008_to_2010_Outpatient_Claims_Sample_2.csv')

/Users/ksenia/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (21,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
#Obtain prescription drug data
pde = pd.read_csv('../../DE1_0_2008_to_2010_Prescription_Drug_Events_Sample_2.csv')

/Users/ksenia/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
#Beneficiary data files for merging
ben8 = pd.read_csv('../../DE1_0_2008_Beneficiary_Summary_File_Sample_2.csv')
ben9 = pd.read_csv('../../DE1_0_2009_Beneficiary_Summary_File_Sample_2.csv')
ben10 = pd.read_csv('../../DE1_0_2010_Beneficiary_Summary_File_Sample_2.csv')

In [12]:
ben_all = pd.concat([ben8, ben9, ben10])

In [13]:
#Select a random sample of patients for further analysis if sample=True

sample = False

if sample is True:
    sample_patient_ids = ben10.DESYNPUF_ID.sample(frac = 0.5)
else:
    sample_patient_ids = ben10.DESYNPUF_ID

In [14]:
ben10.head()

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,BENE_ESRD_IND,SP_STATE_CODE,BENE_COUNTY_CD,BENE_HI_CVRAGE_TOT_MONS,BENE_SMI_CVRAGE_TOT_MONS,...,SP_STRKETIA,MEDREIMB_IP,BENRES_IP,PPPYMT_IP,MEDREIMB_OP,BENRES_OP,PPPYMT_OP,MEDREIMB_CAR,BENRES_CAR,PPPYMT_CAR
0,00000B48BCF4AD29,19230901,NaN,2,5,Y,10,260,12,12,...,2,0.0,0.0,0.0,600.0,30.0,0.0,3800.0,1460.0,0.0
1,0000525AB30E4DEF,19201001,NaN,2,1,0,31,300,12,12,...,2,0.0,0.0,0.0,240.0,190.0,0.0,440.0,60.0,0.0
2,00009C897C3D8372,19320101,NaN,1,1,0,7,70,12,12,...,2,0.0,0.0,0.0,210.0,160.0,0.0,580.0,250.0,0.0
3,0001168CE43BE51B,19340901,NaN,2,1,0,6,200,12,0,...,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0002E494BC87CE10,19140701,NaN,1,2,0,5,200,12,12,...,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
#Write beneficiary features of interest for corresponding patients into a single dataframe for preprocessing

working_df = pd.DataFrame(index = ben10.index)

beneficiary_features = ['DESYNPUF_ID','BENE_SEX_IDENT_CD', 'BENE_RACE_CD', 'BENE_BIRTH_DT', 'SP_STATE_CODE', 
                        'BENE_COUNTY_CD','SP_ALZHDMTA', 'SP_CHF', 'SP_CHRNKIDN', 'SP_CNCR', 'SP_COPD', 'SP_DIABETES', 'SP_DEPRESSN', 
                        'SP_ISCHMCHT', 'SP_OSTEOPRS', 'SP_RA_OA', 'SP_STRKETIA', 'MEDREIMB_OP', 'BENRES_OP', 
                        'PPPYMT_OP', 'BENE_DEATH_DT']

In [16]:
#Select beneficiary data corresponding to the sample size
working_df = ben10[ben10.DESYNPUF_ID.isin(sample_patient_ids)]


#Drop features that are not of interest
for col in working_df:
    print(col)
    if col not in beneficiary_features:
        working_df.drop(col, axis = 1, inplace = True)

DESYNPUF_ID
BENE_BIRTH_DT
BENE_DEATH_DT
BENE_SEX_IDENT_CD
BENE_RACE_CD
BENE_ESRD_IND
SP_STATE_CODE
BENE_COUNTY_CD
BENE_HI_CVRAGE_TOT_MONS
BENE_SMI_CVRAGE_TOT_MONS
BENE_HMO_CVRAGE_TOT_MONS
PLAN_CVRG_MOS_NUM
SP_ALZHDMTA
SP_CHF
SP_CHRNKIDN
SP_CNCR
SP_COPD
SP_DEPRESSN
SP_DIABETES
SP_ISCHMCHT
SP_OSTEOPRS
SP_RA_OA
SP_STRKETIA
MEDREIMB_IP
BENRES_IP
PPPYMT_IP
MEDREIMB_OP
BENRES_OP
PPPYMT_OP
MEDREIMB_CAR
BENRES_CAR
PPPYMT_CAR

In [17]:
#Drop rows and columns where all elements are NULL
working_df = working_df.dropna(axis=1, how='all')
working_df = working_df.dropna(axis=0, how='all')

In [18]:
working_df.describe()

,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,SP_CHRNKIDN,SP_CNCR,SP_COPD,SP_DEPRESSN,SP_DIABETES,SP_ISCHMCHT,SP_OSTEOPRS,SP_RA_OA,SP_STRKETIA,MEDREIMB_OP,BENRES_OP,PPPYMT_OP
count,1.128450e+05,1.818000e+03,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000,112845.000000
mean,1.936439e+07,2.010064e+07,1.557251,1.283708,25.725048,366.079268,1.831929,1.742124,1.861403,1.948212,1.910904,1.821188,1.708760,1.623918,1.868900,1.902849,1.973530,435.842882,131.627985,14.953875
std,1.258994e+05,3.460075e+02,0.496714,0.753121,15.519775,266.004435,0.373931,0.437467,0.345527,0.221599,0.284883,0.383196,0.454336,0.484403,0.337511,0.296165,0.160529,1280.079036,367.158699,274.898947
min,1.909010e+07,2.010010e+07,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-80.000000,0.000000,0.000000
25%,1.928110e+07,2.010030e+07,1.000000,1.000000,11.000000,141.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000
50%,1.936060e+07,2.010060e+07,2.000000,1.000000,25.000000,330.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000
75%,1.942030e+07,2.010090e+07,2.000000,1.000000,39.000000,551.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,320.000000,100.000000,0.000000
max,1.983120e+07,2.010120e+07,2.000000,5.000000,54.000000,999.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,34440.000000,9670.000000,14000.000000

In [19]:
#Create a variable indicating if a patient has passed away
working_df['DEATH'] = working_df.BENE_DEATH_DT.apply(lambda x: 1 if pd.notnull(x) else 0)

In [20]:
#Add hospitalization date to the working dataframe
working_df = pd.merge(working_df, inpatient[['DESYNPUF_ID','CLM_ADMSN_DT']], how='left', on='DESYNPUF_ID')

In [21]:
#target_date - start date of forecasting patients hospitalization 
target_date = 20100101

In [22]:
#Create target variable Y showing 1 if patient has been hospitalized in the target dataframe
max_ip_date = working_df.CLM_ADMSN_DT.groupby(working_df.DESYNPUF_ID).max()
inp_dates = pd.DataFrame(list(max_ip_date.items()), columns = ['DESYNPUF_ID', 'CLM_ADMSN_DT'])
inp_dates['Y'] = inp_dates.CLM_ADMSN_DT.apply(lambda x: 1 if x >= target_date else 0)
working_df = pd.merge(working_df, inp_dates[['DESYNPUF_ID','Y']], how='left', on='DESYNPUF_ID')

In [23]:
#If hospitalized, first admission date in the target dataframe
dates = {}
sub_df = working_df[working_df.Y==1]

for patient in sub_df.DESYNPUF_ID.unique():
    hosp_dates = working_df[working_df.DESYNPUF_ID==patient].CLM_ADMSN_DT
    min_date_2010 = min(hosp_dates[hosp_dates>=20100101])
    dates[patient] = min_date_2010

In [24]:
#Adding first admission date to the dataframe
df_dates = pd.DataFrame(list(dates.items()), columns = ['DESYNPUF_ID', 'fst_admsn_dt'])
working_df = pd.merge(working_df, df_dates[['DESYNPUF_ID','fst_admsn_dt']], how='left', on='DESYNPUF_ID')

In [25]:
import datetime
from datetime import date
import dateutil
from datetime import datetime
from dateutil import parser
import numpy as np

def clean_df(df):
    
    '''Takes as input a DataFrame, creates a dummy variable for the death date (0 if still alive, 1 if not).
    Calculates the column TRUE_AGE, according to the death date if the dummy variable indicating death is 1, 
    or according to today's date if the dummy variable is 0. Recodes the column BENE_SEX_IDENT_CD (Sex) as 
    1: Female, 0: Male. '''
    
    days_a_year = 365.24
    
    ## Filling the missing values with 0, as explained above
    df['BENE_DEATH_DT'] = df['BENE_DEATH_DT'].fillna(0)
    
    ## Creating the column DEATH_DUMMY, 1 if the patient is dead, 0 otherwise
    df['DEATH_DUMMY'] = [int(int(df['BENE_DEATH_DT'][k])>0) for k in range(len(df['BENE_DEATH_DT']))]
    df['BENE_BIRTH_DT'] = [str(j) for j in df['BENE_BIRTH_DT']]
    
    df['BENE_DEATH_DT'] = [str(int("%2.f" % float(j))) for j in df['BENE_DEATH_DT']]
    
    bday_date = [dateutil.parser.parse(date) for date in df['BENE_BIRTH_DT']]
    
    death_date = []
    for d in range(len(df)):
        if df['DEATH_DUMMY'][d] == 0:
            death_date.append(dateutil.parser.parse(str(20100101)))
        elif df['DEATH_DUMMY'][d] == 1:
            death_date.append(dateutil.parser.parse(df['BENE_DEATH_DT'][d]))
    
    df['TRUE_AGE'] = [((death_date[j] - bday_date[j])/days_a_year).days for j in range(len(df['BENE_BIRTH_DT']))]
    
        ## Sex recoded to (0:Male, 1:Female) 
    df['BENE_SEX_IDENT_CD'] = [int(df['BENE_SEX_IDENT_CD'][i] == 2) for i in range(len(df['BENE_SEX_IDENT_CD']))]
    
    return df

In [26]:
clean_df = clean_df(working_df)

In [27]:
clean_df['first_ad_date']=clean_df.fst_admsn_dt.astype(str).apply(lambda x: pd.to_datetime(x, format='%Y%m%d'))

In [28]:
import datetime
import datetime
import calendar

def add_months(sourcedate, months):
    mmonth = sourcedate.month - 1 + months
    yyear = int(sourcedate.year + mmonth / 12)
    mmonth = mmonth % 12 + 1
    dday = min(sourcedate.day,calendar.monthrange(yyear,mmonth)[1])
    return datetime.date(yyear,mmonth,dday)


clean_df.first_ad_date.fillna(datetime.date(3000,1,1), inplace = True)

In [29]:
clean_df[clean_df.Y==1].head(20)

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,SP_CHRNKIDN,...,MEDREIMB_OP,BENRES_OP,PPPYMT_OP,DEATH,CLM_ADMSN_DT,Y,fst_admsn_dt,DEATH_DUMMY,TRUE_AGE,first_ad_date
21,0008148FCB4CB644,19420601,0,0,3,14,141,2,1,1,...,17990.0,6770.0,0.0,0,20091211.0,1,20100113.0,0,67,2010-01-13 00:00:00
22,0008148FCB4CB644,19420601,0,0,3,14,141,2,1,1,...,17990.0,6770.0,0.0,0,20100113.0,1,20100113.0,0,67,2010-01-13 00:00:00
27,000B6900337D45AF,19490601,0,1,1,34,500,2,2,2,...,0.0,0.0,0.0,0,20100831.0,1,20100831.0,0,60,2010-08-31 00:00:00
30,000C5BACF2F88B1E,19420201,0,1,1,42,270,1,2,2,...,290.0,220.0,0.0,0,20090218.0,1,20100927.0,0,67,2010-09-27 00:00:00
31,000C5BACF2F88B1E,19420201,0,1,1,42,270,1,2,2,...,290.0,220.0,0.0,0,20091212.0,1,20100927.0,0,67,2010-09-27 00:00:00
32,000C5BACF2F88B1E,19420201,0,1,1,42,270,1,2,2,...,290.0,220.0,0.0,0,20100927.0,1,20100927.0,0,67,2010-09-27 00:00:00
44,001539F8694D461D,19390201,0,1,1,33,590,1,1,1,...,880.0,0.0,0.0,0,20100730.0,1,20100730.0,0,70,2010-07-30 00:00:00
46,001634033AEA61D0,19380901,0,0,1,10,150,1,2,2,...,0.0,0.0,0.0,0,20100126.0,1,20100126.0,0,71,2010-01-26 00:00:00
60,001D171C944A6B21,19310701,0,1,1,33,740,1,2,2,...,460.0,130.0,0.0,0,20080204.0,1,20100405.0,0,78,2010-04-05 00:00:00
61,001D171C944A6B21,19310701,0,1,1,33,740,1,2,2,...,460.0,130.0,0.0,0,20100405.0,1,20100405.0,0,78,2010-04-05 00:00:00
64,001DF507320A1E03,19380601,0,0,1,23,100,2,1,1,...,160.0,0.0,0.0,0,20100104.0,1,20100104.0,0,71,2010-01-04 00:00:00
75,00243BA69DDA5C3B,19190501,0,1,1,43,510,2,1,2,...,0.0,0.0,0.0,0,20101028.0,1,20101028.0,0,90,2010-10-28 00:00:00
84,00282D0633D4EA98,19400201,0,1,1,49,411,1,1,1,...,0.0,0.0,0.0,0,20080727.0,1,20100819.0,0,69,2010-08-19 00:00:00
85,00282D0633D4EA98,19400201,0,1,1,49,411,1,1,1,...,0.0,0.0,0.0,0,20090806.0,1,20100819.0,0,69,2010-08-19 00:00:00
86,00282D0633D4EA98,19400201,0,1,1,49,411,1,1,1,...,0.0,0.0,0.0,0,20100819.0,1,20100819.0,0,69,2010-08-19 00:00:00
91,002A366C3758A68E,19420901,0,0,1,42,270,2,2,2,...,2700.0,40.0,0.0,0,20100718.0,1,20100718.0,0,67,2010-07-18 00:00:00
97,002B853135024113,19240201,0,1,1,33,40,1,2,1,...,10.0,0.0,0.0,0,20101016.0,1,20101016.0,0,85,2010-10-16 00:00:00
131,003BD572DFC816A0,19620501,0,0,3,31,220,1,1,2,...,2040.0,710.0,0.0,0,20080818.0,1,20100302.0,0,47,2010-03-02 00:00:00
132,003BD572DFC816A0,19620501,0,0,3,31,220,1,1,2,...,2040.0,710.0,0.0,0,20090916.0,1,20100302.0,0,47,2010-03-02 00:00:00
133,003BD572DFC816A0,19620501,0,0,3,31,220,1,1,2,...,2040.0,710.0,0.0,0,20100302.0,1,20100302.0,0,47,2010-03-02 00:00:00

In [30]:
import datetime
clean_df.first_ad_date.fillna(datetime.date(3000,1,1), inplace = True)

In [31]:
clean_df['end_train_dt']=clean_df.first_ad_date.apply(lambda x: add_months(x,-6))
clean_df.end_train_dt.replace(datetime.date(2999,7,1),datetime.date(2010,6,30),inplace=True)

In [32]:
clean_df.CLM_ADMSN_DT.fillna(datetime.date(3000,1,1), inplace = True)

In [33]:
clean_df['start_train_dt']=datetime.date(2008,1,1)

In [34]:
def diff_month(d1, d2):
    return(d1.year - d2.year) * 12 + d1.month - d2.month

import math

date1 = datetime.date(2009, 7, 13)
date2 = datetime.date(2008, 1, 1)
date2

def month_difference(date1, date2):
    
    '''Takes as input two dates, takes their timedelta, if it is exactly x.5 months returns x.5 months,
    if it is between x and x.5 months returns x months, and if it is between x.5 months and ceiling(x),
    returns ceiling(x)'''
    
    date_diff_days = (date1 - date2).days ## timedelta.days, it doesn't have months or years methods unfortunately
    date_diff_months = (date_diff_days/30.4)
    
    if math.ceil(date_diff_months) - date_diff_months > 0.5:
        return math.trunc(date_diff_months)
    elif math.ceil(date_diff_months) - date_diff_months <= 0.5:
        return math.ceil(date_diff_months)
    else:
        return (math.trunc(date_diff_months) + 0.5) 
        

month_difference(date1, date2)

clean_df['member_months'] = [month_difference(clean_df['end_train_dt'][i], clean_df['start_train_dt'][i]) for i in range(len(clean_df))]

clean_df[clean_df.Y==1].head()

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,SP_CHRNKIDN,...,DEATH,CLM_ADMSN_DT,Y,fst_admsn_dt,DEATH_DUMMY,TRUE_AGE,first_ad_date,end_train_dt,start_train_dt,member_months
21,0008148FCB4CB644,19420601,0,0,3,14,141,2,1,1,...,0,2.00912e+07,1,20100113.0,0,67,2010-01-13 00:00:00,2009-07-13,2008-01-01,18
22,0008148FCB4CB644,19420601,0,0,3,14,141,2,1,1,...,0,2.01001e+07,1,20100113.0,0,67,2010-01-13 00:00:00,2009-07-13,2008-01-01,18
27,000B6900337D45AF,19490601,0,1,1,34,500,2,2,2,...,0,2.01008e+07,1,20100831.0,0,60,2010-08-31 00:00:00,2010-02-28,2008-01-01,26
30,000C5BACF2F88B1E,19420201,0,1,1,42,270,1,2,2,...,0,2.00902e+07,1,20100927.0,0,67,2010-09-27 00:00:00,2010-03-27,2008-01-01,27
31,000C5BACF2F88B1E,19420201,0,1,1,42,270,1,2,2,...,0,2.00912e+07,1,20100927.0,0,67,2010-09-27 00:00:00,2010-03-27,2008-01-01,27

In [35]:
#Previous inpatient hospitalization date (last date in the training period)

print(clean_df.shape)
print(inpatient.shape)

N = 100000000
clean_sub = clean_df.iloc[0:min(clean_df.shape[0],N),:]
inpat_sub = inpatient.iloc[0:min(inpatient.shape[0],N),:]

prev_hosp_dt = {}

print('figuring end dates')
dates = clean_sub.end_train_dt.groupby(clean_df.DESYNPUF_ID).max()
print('DONE figuring end dates')

def process_patient_rows(rows):
    global dates, prev_hosp_dt
    if len(prev_hosp_dt) % 1000 == 0:
        print(str(len(prev_hosp_dt)))
    pat_id = rows.DESYNPUF_ID.iloc[0]
    if pat_id not in dates:
        return
    last_training_date = dates[pat_id]

    training_selection = rows.CLM_ADMSN_DT.apply(
        lambda x: (dateutil.parser.parse(str(x))).date() <= last_training_date)
    last_hosp_date = rows.CLM_ADMSN_DT[training_selection].max()
    if not np.isnan(last_hosp_date):
        prev_hosp_dt[pat_id] = last_hosp_date
    
inpat_sub.groupby(inpat_sub.DESYNPUF_ID).apply(lambda rows: process_patient_rows(rows))
"""
for patient in inpat_sub.DESYNPUF_ID.unique():
    
    patient_rows = inpat_sub[inpat_sub.DESYNPUF_ID == patient]
"""
print(len(prev_hosp_dt))

(141363, 31)
(66494, 81)
figuring end dates
DONE figuring end dates
0
1000
1000
1000
1000
2000
2000
3000
4000
5000
6000
7000
8000
9000
9000
10000
10000
11000
11000
12000
12000
13000
14000
15000
16000
17000
18000
19000
20000
20000
21000
21000
22000
23000
24000
24000
24000
24000
24000
25000
25000
26000
27000
28000
28651

In [36]:
#Convert to date type and add to the data frame
prev_hosp = pd.DataFrame(list(prev_hosp_dt.items()), columns = ['DESYNPUF_ID', 'prev_hosp'])
prev_hosp['prev_hosp_dt']=prev_hosp.prev_hosp.astype(str).apply(lambda x: datetime.datetime.strptime(x, "%Y%m%d").date())

In [37]:
#Add hospitalization date to the working dataframe
clean_df = pd.merge(clean_df, prev_hosp[['DESYNPUF_ID','prev_hosp_dt']], how='left', on='DESYNPUF_ID')

In [38]:
clean_df.head()

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,SP_CHRNKIDN,...,CLM_ADMSN_DT,Y,fst_admsn_dt,DEATH_DUMMY,TRUE_AGE,first_ad_date,end_train_dt,start_train_dt,member_months,prev_hosp_dt
0,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,2.00807e+07,0,NaN,0,86,3000-01-01,2010-06-30,2008-01-01,30,2008-08-05
1,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,2.00807e+07,0,NaN,0,86,3000-01-01,2010-06-30,2008-01-01,30,2008-08-05
2,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,2.00808e+07,0,NaN,0,86,3000-01-01,2010-06-30,2008-01-01,30,2008-08-05
3,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,2,...,2.00805e+07,0,NaN,0,89,3000-01-01,2010-06-30,2008-01-01,30,2008-09-18
4,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,2,...,2.00809e+07,0,NaN,0,89,3000-01-01,2010-06-30,2008-01-01,30,2008-09-18

In [39]:
#Number of unique IP dates in training period
unique_ip = inpatient.CLM_ADMSN_DT.groupby(inpatient.DESYNPUF_ID).nunique()
unique_ip_dt = pd.DataFrame({'DESYNPUF_ID':unique_ip.index, 'unique_ip_dt':unique_ip.values})
clean_df = pd.merge(clean_df, unique_ip_dt[['DESYNPUF_ID','unique_ip_dt']], how='left', on='DESYNPUF_ID')

In [40]:
#Dollar spend on inpatient claims in training period
inpatient['CLM_THRU_DT'].fillna(30000101.0, inplace=True)

In [41]:
inpatient['CLM_THRU_DT'] = [str(int(x)) for x in inpatient['CLM_THRU_DT']]

In [42]:
inpatient['CLM_THRU_DT'] = [dateutil.parser.parse(str(date)).date() for date in inpatient['CLM_THRU_DT']]

In [43]:
#Add inpatient payment amounts in the training set

inpatient = pd.merge(inpatient, clean_df[['DESYNPUF_ID','end_train_dt']], how='left', on='DESYNPUF_ID')
inpatient['count_clm'] = inpatient.CLM_THRU_DT<inpatient.end_train_dt

In [44]:
#Add inpatient payment amounts p.2
agg = pd.pivot_table(inpatient,values 
               =['CLM_PMT_AMT'],index=['count_clm'],columns=['DESYNPUF_ID'],aggfunc=np.sum).transpose()

comp = pd.DataFrame(agg.to_records())

In [45]:
#Add inpatient payment amounts p.3

clean_df = pd.merge(clean_df, comp[['DESYNPUF_ID','True']],how='left',on='DESYNPUF_ID')

clean_df.rename(index=str, columns={"True": "ip_pmt"})

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,SP_CHRNKIDN,...,fst_admsn_dt,DEATH_DUMMY,TRUE_AGE,first_ad_date,end_train_dt,start_train_dt,member_months,prev_hosp_dt,unique_ip_dt,ip_pmt
0,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,NaN,0,86,3000-01-01,2010-06-30,2008-01-01,30,2008-08-05,3.0,243000.0
1,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,NaN,0,86,3000-01-01,2010-06-30,2008-01-01,30,2008-08-05,3.0,243000.0
2,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,NaN,0,86,3000-01-01,2010-06-30,2008-01-01,30,2008-08-05,3.0,243000.0
3,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,2,...,NaN,0,89,3000-01-01,2010-06-30,2008-01-01,30,2008-09-18,2.0,24000.0
4,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,2,...,NaN,0,89,3000-01-01,2010-06-30,2008-01-01,30,2008-09-18,2.0,24000.0
5,00009C897C3D8372,19320101,0,0,1,7,70,2,1,2,...,NaN,0,78,3000-01-01,2010-06-30,2008-01-01,30,2008-09-21,5.0,180500.0
6,00009C897C3D8372,19320101,0,0,1,7,70,2,1,2,...,NaN,0,78,3000-01-01,2010-06-30,2008-01-01,30,2008-09-21,5.0,180500.0
7,00009C897C3D8372,19320101,0,0,1,7,70,2,1,2,...,NaN,0,78,3000-01-01,2010-06-30,2008-01-01,30,2008-09-21,5.0,180500.0
8,00009C897C3D8372,19320101,0,0,1,7,70,2,1,2,...,NaN,0,78,3000-01-01,2010-06-30,2008-01-01,30,2008-09-21,5.0,180500.0
9,00009C897C3D8372,19320101,0,0,1,7,70,2,1,2,...,NaN,0,78,3000-01-01,2010-06-30,2008-01-01,30,2008-09-21,5.0,180500.0
10,0001168CE43BE51B,19340901,0,1,1,6,200,2,2,2,...,NaN,0,75,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
11,0002E494BC87CE10,19140701,0,0,2,5,200,2,2,2,...,NaN,0,95,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
12,0002EC0BCA99CACF,19421201,0,0,1,20,60,2,2,2,...,NaN,0,67,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
13,0002FABBFD6D1C5C,19240701,0,1,1,49,921,1,2,2,...,NaN,0,85,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
14,000364233C3E3682,19351201,0,0,1,36,80,1,1,2,...,NaN,0,74,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
15,000433285C8D2349,19270901,0,1,1,5,50,2,1,2,...,NaN,0,82,3000-01-01,2010-06-30,2008-01-01,30,2009-05-21,1.0,4000.0
16,0004B213C9EA58EC,19421101,0,1,1,23,430,2,2,2,...,NaN,0,67,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
17,0005F7B5C901BB68,19401101,0,0,3,36,30,2,2,2,...,NaN,0,69,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
18,00063869E550F9B1,19410701,0,1,1,1,270,2,2,2,...,NaN,0,68,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
19,0007C7A2777AA775,19611201,0,1,1,42,210,2,1,1,...,NaN,0,48,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
20,0007DC6720F658B7,19370201,0,1,1,18,550,2,1,1,...,NaN,0,72,3000-01-01,2010-06-30,2008-01-01,30,2009-12-14,1.0,3000.0
21,0008148FCB4CB644,19420601,0,0,3,14,141,2,1,1,...,20100113.0,0,67,2010-01-13 00:00:00,2009-07-13,2008-01-01,18,NaN,2.0,NaN
22,0008148FCB4CB644,19420601,0,0,3,14,141,2,1,1,...,20100113.0,0,67,2010-01-13 00:00:00,2009-07-13,2008-01-01,18,NaN,2.0,NaN
23,00084CF1B8522AB2,19290501,0,1,1,17,450,2,2,2,...,NaN,0,80,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
24,0009EB553C103F95,19630801,0,1,1,52,500,1,2,2,...,NaN,0,46,3000-01-01,2010-06-30,2008-01-01,30,2008-11-05,1.0,7000.0
25,000A15D4D6F12A3E,19510101,0,1,1,37,480,2,2,2,...,NaN,0,59,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
26,000A49D50DB10546,19430301,0,1,1,10,640,2,2,2,...,NaN,0,66,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
27,000B6900337D45AF,19490601,0,1,1,34,500,2,2,2,...,20100831.0,0,60,2010-08-31 00:00:00,2010-02-28,2008-01-01,26,NaN,1.0,NaN
28,000C28E021CD4C27,19410701,0,1,1,36,480,2,2,2,...,NaN,0,68,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
29,000C3A3E8A09970F,19530901,0,0,1,42,90,2,2,2,...,NaN,0,56,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141333,FFEFEDB0F8B82921,19350901,0,0,2,33,700,1,1,2,...,NaN,0,74,3000-01-01,2010-06-30,2008-01-01,30,2009-02-17,2.0,78000.0
141334,FFEFEDB0F8B82921,19350901,0,0,2,33,700,1,1,2,...,NaN,0,74,3000-01-01,2010-06-30,2008-01-01,30,2009-02-17,2.0,78000.0
141335,FFF0A562C99579F7,19270301,0,1,1,44,320,2,2,2,...,NaN,0,82,3000-01-01,2010-06-30,2008-01-01,30,2009-05-07,2.0,48000.0
141336,FFF0A562C99579F7,19270301,0,1,1,44,320,2,2,2,...,NaN,0,82,3000-01-01,2010-06-30,2008-01-01,30,2009-05-07,2.0,48000.0
141337,FFF149A783256352,19410701,0,1,1,3,60,2,2,2,...,NaN,0,68,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
141338,FFF255CAAD4B6772,19670301,0,0,1,5,530,2,1,2,...,NaN,0,42,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
141339,FFF370284DA20AF9,19421101,0,1,1,49,622,2,2,2,...,NaN,0,67,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
141340,FFF568428BD9D114,19381001,0,1,1,18,550,2,2,2,...,NaN,0,71,3000-01-01,2010-06-30,2008-01-01,30,2008-09-19,2.0,24000.0
141341,FFF568428BD9D114,19381001,0,1,1,18,550,2,2,2,...,NaN,0,71,3000-01-01,2010-06-30,2008-01-01,30,2008-09-19,2.0,24000.0
141342,FFF68608B59727EC,19590201,0,0,2,45,120,2,2,1,...,NaN,0,50,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
141343,FFF712CD0A0012A7,19430501,0,0,1,51,540,2,1,2,...,20100602.0,0,66,2010-06-02 00:00:00,2009-12-02,2008-01-01,23,NaN,1.0,NaN
141344,FFF7E84023DF137B,19270801,0,0,1,36,460,2,2,2,...,NaN,0,82,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
141345,FFF9391DDFDE0751,19450801,0,1,2,7,40,2,2,2,...,NaN,0,64,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
141346,FFF97C9138932083,19391101,20100601,0,1,51,70,2,2,1,...,NaN,1,70,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
141347,FFF9B20E9BD82268,19311101,0,1,1,23,240,2,1,1,...,20100212.0,0,78,2010-02-12 00:00:00,2009-08-12,2008-01-01,19,NaN,4.0,NaN
141348,FFF9B20E9BD82268,19311101,0,1,1,23,240,2,1,1,...,20100212.0,0,78,2010-02-12 00:00:00,2009-08-12,2008-01-01,19,NaN,4.0,NaN
141349,FFF9B20E9BD82268,19311101,0,1,1,23,240,2,1,1,...,20100212.0,0,78,2010-02-12 00:00:00,2009-08-12,2008-01-01,19,NaN,4.0,NaN
141350,FFF9B20E9BD82268,19311101,0,1,1,23,240,2,1,1,...,20100212.0,0,78,2010-02-12 00:00:00,2009-08-12,2008-01-01,19,NaN,4.0,NaN
141351,FFFACCE619556B22,19380201,0,1,1,35,290,2,2,2,...,NaN,0,71,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
141352,FFFBA8A2A68015BA,19260601,0,1,1,34,420,1,2,1,...,NaN,0,83,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
141353,FFFC2F140780137C,19420601,0,0,1,10,360,2,2,2,...,NaN,0,67,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
141354,FFFC54BCEB2A0631,19400801,0,0,1,10,490,2,2,2,...,NaN,0,69,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
141355,FFFCF02B3CE4D724,19100901,0,1,1,34,790,2,2,2,...,NaN,0,99,3000-01-01,2010-06-30,2008-01-01,30,2009-05-23,2.0,26000.0
141356,FFFCF02B3CE4D724,19100901,0,1,1,34,790,2,2,2,...,NaN,0,99,3000-01-01,2010-06-30,2008-01-01,30,2009-05-23,2.0,26000.0
141357,FFFE94CBE61C0479,19360601,0,0,1,4,70,2,2,1,...,NaN,0,73,3000-01-01,2010-06-30,2008-01-01,30,2008-07-26,3.0,45000.0
141358,FFFE94CBE61C0479,19360601,0,0,1,4,70,2,2,1,...,NaN,0,73,3000-01-01,2010-06-30,2008-01-01,30,2008-07-26,3.0,45000.0
141359,FFFE94CBE61C0479,19360601,0,0,1,4,70,2,2,1,...,NaN,0,73,3000-01-01,2010-06-30,2008-01-01,30,2008-07-26,3.0,45000.0
141360,FFFEAD5472FC13A2,19301201,0,1,1,41,50,2,2,2,...,NaN,0,79,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
141361,FFFF0FD89207928D,19250901,0,1,1,39,290,2,2,2,...,NaN,0,84,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN
141362,FFFF52C0C450A585,19300501,0,1,1,45,801,1,1,2,...,NaN,0,79,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN

In [46]:
clean_df.rename(index=str, columns={"True": "ip_pmt"},inplace=True)

In [47]:
clean_df.head(5)

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,SP_CHRNKIDN,...,fst_admsn_dt,DEATH_DUMMY,TRUE_AGE,first_ad_date,end_train_dt,start_train_dt,member_months,prev_hosp_dt,unique_ip_dt,ip_pmt
0,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,NaN,0,86,3000-01-01,2010-06-30,2008-01-01,30,2008-08-05,3.0,243000.0
1,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,NaN,0,86,3000-01-01,2010-06-30,2008-01-01,30,2008-08-05,3.0,243000.0
2,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,NaN,0,86,3000-01-01,2010-06-30,2008-01-01,30,2008-08-05,3.0,243000.0
3,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,2,...,NaN,0,89,3000-01-01,2010-06-30,2008-01-01,30,2008-09-18,2.0,24000.0
4,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,2,...,NaN,0,89,3000-01-01,2010-06-30,2008-01-01,30,2008-09-18,2.0,24000.0

In [48]:
#Create variable indicating number of days from previous hospitalization
clean_df['days_frm_ip'] = (clean_df.end_train_dt - clean_df.prev_hosp_dt)
clean_df['days_frm_last_ip'] = clean_df.days_frm_ip.apply(lambda x: x.days)

In [49]:
clean_df.drop('days_frm_ip',axis=1,inplace=True)

#### Carrier Claims analysis

In [50]:
claims.head()

,DESYNPUF_ID,CLM_ID,CLM_FROM_DT,CLM_THRU_DT,ICD9_DGNS_CD_1,ICD9_DGNS_CD_2,ICD9_DGNS_CD_3,ICD9_DGNS_CD_4,ICD9_DGNS_CD_5,ICD9_DGNS_CD_6,...,LINE_ICD9_DGNS_CD_4,LINE_ICD9_DGNS_CD_5,LINE_ICD9_DGNS_CD_6,LINE_ICD9_DGNS_CD_7,LINE_ICD9_DGNS_CD_8,LINE_ICD9_DGNS_CD_9,LINE_ICD9_DGNS_CD_10,LINE_ICD9_DGNS_CD_11,LINE_ICD9_DGNS_CD_12,LINE_ICD9_DGNS_CD_13
0,00000B48BCF4AD29,737133358637027,20080216,20080216,7061,70211,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00000B48BCF4AD29,737783362300937,20080219,20080219,9561,71945,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00000B48BCF4AD29,737513360019665,20080220,20080220,8241,27651,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00000B48BCF4AD29,737553359102154,20080223,20080223,V676,V5861,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00000B48BCF4AD29,737033360678635,20080311,20080311,5765,56969,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
#Add the training period
claims = pd.merge(claims, clean_df[['DESYNPUF_ID','end_train_dt']], how='left', on='DESYNPUF_ID')

In [ ]:
#Convert integer to datetime.date
claims['CLM_THRU_DT'] = [dateutil.parser.parse(str(date)).date() for date in claims_tr['CLM_THRU_DT']]

In [54]:
#Mark if claim is within the training period (CLM_FROM_DT)
claims['in_training'] = sub_claim.CLM_THRU_DT <= sub_claim.end_train_dt

In [65]:
#Use subset in training for quicker calculations
claims_tr = claims[claims.in_training == True]

In [66]:
claims_tr.head()

,DESYNPUF_ID,CLM_ID,CLM_FROM_DT,CLM_THRU_DT,ICD9_DGNS_CD_1,ICD9_DGNS_CD_2,ICD9_DGNS_CD_3,ICD9_DGNS_CD_4,ICD9_DGNS_CD_5,ICD9_DGNS_CD_6,...,LINE_ICD9_DGNS_CD_6,LINE_ICD9_DGNS_CD_7,LINE_ICD9_DGNS_CD_8,LINE_ICD9_DGNS_CD_9,LINE_ICD9_DGNS_CD_10,LINE_ICD9_DGNS_CD_11,LINE_ICD9_DGNS_CD_12,LINE_ICD9_DGNS_CD_13,end_train_dt,in_training
0,00000B48BCF4AD29,737133358637027,20080216,2008-02-16,7061,70211,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-06-30,True
1,00000B48BCF4AD29,737133358637027,20080216,2008-02-16,7061,70211,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-06-30,True
2,00000B48BCF4AD29,737133358637027,20080216,2008-02-16,7061,70211,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-06-30,True
3,00000B48BCF4AD29,737783362300937,20080219,2008-02-19,9561,71945,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-06-30,True
4,00000B48BCF4AD29,737783362300937,20080219,2008-02-19,9561,71945,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-06-30,True

In [74]:
#PCP codes
codes = str(list(range(99201,99216)))
codes

'[99201, 99202, 99203, 99204, 99205, 99206, 99207, 99208, 99209, 99210, 99211, 99212, 99213, 99214, 99215]'

In [83]:
#PCP: True if contains of the codes
claims_tr['PCP'] = (claims_tr['HCPCS_CD_1'].apply(lambda x: str(x) in codes) | 
                    claims_tr['HCPCS_CD_2'].apply(lambda x: str(x) in codes) |
                    claims_tr['HCPCS_CD_3'].apply(lambda x: str(x) in codes) |
                    claims_tr['HCPCS_CD_4'].apply(lambda x: str(x) in codes) |
                    claims_tr['HCPCS_CD_5'].apply(lambda x: str(x) in codes) |
                    claims_tr['HCPCS_CD_6'].apply(lambda x: str(x) in codes) |
                    claims_tr['HCPCS_CD_7'].apply(lambda x: str(x) in codes) |
                    claims_tr['HCPCS_CD_8'].apply(lambda x: str(x) in codes) |
                    claims_tr['HCPCS_CD_9'].apply(lambda x: str(x) in codes) |
                    claims_tr['HCPCS_CD_10'].apply(lambda x: str(x) in codes) |
                    claims_tr['HCPCS_CD_11'].apply(lambda x: str(x) in codes) |
                    claims_tr['HCPCS_CD_12'].apply(lambda x: str(x) in codes) |
                    claims_tr['HCPCS_CD_13'].apply(lambda x: str(x) in codes))

/Users/ksenia/anaconda/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [90]:
#Select data that has PCP = True
claim = claims_tr[claims_tr.PCP == True]

In [118]:
#Group by to count unique start dates
unique_dt = claims.CLM_THRU_DT.groupby(claims.DESYNPUF_ID).nunique()

In [119]:
unique_dt.head()

DESYNPUF_ID
00000B48BCF4AD29    131
0000525AB30E4DEF    101
00009C897C3D8372     49
0002EC0BCA99CACF     10
0002FABBFD6D1C5C     30
Name: CLM_THRU_DT, dtype: int64

In [125]:
unique_df = pd.DataFrame(unique_dt, index = unique_dt.index)

In [123]:
#unique_df['DESYNPUF_ID'] = unique_df.index
unique_df.head()

                  CLM_THRU_DT       DESYNPUF_ID
DESYNPUF_ID
00000B48BCF4AD29          131  00000B48BCF4AD29
0000525AB30E4DEF          101  0000525AB30E4DEF
00009C897C3D8372           49  00009C897C3D8372
0002EC0BCA99CACF           10  0002EC0BCA99CACF
0002FABBFD6D1C5C           30  0002FABBFD6D1C5C

In [130]:
unique_df = unique_df.reset_index()
unique_df = unique_df.rename(columns={'CLM_THRU_DT': 'num_pcp'})

In [131]:
#Merge to clean_df
clean_df = pd.merge(clean_df, unique_df[['DESYNPUF_ID','num_pcp']], how='left', on='DESYNPUF_ID')

In [140]:
clean_df.head()

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,SP_CHRNKIDN,...,first_ad_date,end_train_dt,start_train_dt,member_months,prev_hosp_dt,unique_ip_dt,ip_pmt,days_frm_last_ip,CLM_THRU_DT,num_pcp
0,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,3000-01-01,2010-06-30,2008-01-01,30,2008-08-05,3.0,243000.0,694.0,131.0,131.0
1,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,3000-01-01,2010-06-30,2008-01-01,30,2008-08-05,3.0,243000.0,694.0,131.0,131.0
2,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,3000-01-01,2010-06-30,2008-01-01,30,2008-08-05,3.0,243000.0,694.0,131.0,131.0
3,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,2,...,3000-01-01,2010-06-30,2008-01-01,30,2008-09-18,2.0,24000.0,650.0,101.0,101.0
4,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,2,...,3000-01-01,2010-06-30,2008-01-01,30,2008-09-18,2.0,24000.0,650.0,101.0,101.0

In [141]:
final = clean_df.drop_duplicates('DESYNPUF_ID')
final.DESYNPUF_ID.duplicated().unique()

array([False], dtype=bool)

In [142]:
final.head(5)

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,SP_CHRNKIDN,...,first_ad_date,end_train_dt,start_train_dt,member_months,prev_hosp_dt,unique_ip_dt,ip_pmt,days_frm_last_ip,CLM_THRU_DT,num_pcp
0,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,3000-01-01,2010-06-30,2008-01-01,30,2008-08-05,3.0,243000.0,694.0,131.0,131.0
3,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,2,...,3000-01-01,2010-06-30,2008-01-01,30,2008-09-18,2.0,24000.0,650.0,101.0,101.0
5,00009C897C3D8372,19320101,0,0,1,7,70,2,1,2,...,3000-01-01,2010-06-30,2008-01-01,30,2008-09-21,5.0,180500.0,647.0,49.0,49.0
10,0001168CE43BE51B,19340901,0,1,1,6,200,2,2,2,...,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN,NaN,NaN,NaN
11,0002E494BC87CE10,19140701,0,0,2,5,200,2,2,2,...,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
#Write pre-selected data into a csv for cleaning and feature selection
final.to_csv('preprocessed_data.csv')